* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  padding: 0.3rem;
}
li {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
a {
  text-decoration: none;
}
h1 {
  padding: 1rem;
  text-align: center;
  margin: 1rem;
}
button {
  border-radius: 5px;
  padding: 0.5rem;
  border: #fff;
  background-color: white;
  cursor: pointer;
}
